# ---------------------------
# Sanity Configuration
# ---------------------------
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=
SANITY_API_TOKEN=

# ---------------------------
# Resend Email (Contact Form)
# ---------------------------
RESEND_API_KEY=
CONTACT_FORM_TO_EMAIL=

# ---------------------------
# Website Meta Config
# ---------------------------
NEXT_PUBLIC_ENVIRONMENT=development
